@import 'font'; 
/*@import 'looks'; */
@import 'style'; 

$PADDING_TINY: tiny;
$PADDING_SMALL: small;
$PADDING_LITTLE: little;
$PADDING_BASE: base; 
$PADDING_MIDDLE: middle;
$PADDING_BIG: big;
$PADDING_LARGE: large; 
$PADDING_HUGE: huge;

$FILLET_NONE: none;
$FILLET_TINY: tiny;
$FILLET_BASE: base;
$FILLET_CIRCLE: circle;

$num_padding_tiny: 0.2em;
$num_padding_small: 0.5em;
$num_padding_little: 0.8em;
$num_padding_base: 1em;
$num_padding_midde: 1.2em;
$num_padding_big: 1.5em;
$num_padding_large: 2em;
$num_padding_huge: 2.5em;

$num_fillet_none: 0;
$num_fillet_tiny: 2px;
$num_fillet_base: 5px;
$num_fillet_circle: 50%;

/*$num_padding_spacing: 0.5em;

@define-extend paddingSpacing {
	padding-left: $num_padding_spacing;
	padding-right: $num_padding_spacing;
}*/

@define-mixin listStyle $name {
	&.pkg-list_style-$name{
		.pkg-list-option {
			&:before {
				content: counter(cpt_list_count, $name) ". ";
			}
		}
	}
}

@define-mixin composition $name {
	&.pkg-checked_composition-$name{
		.pkg-checked-option {
			@if $name == half {
				width: 50%;
			}
			@if $name == third {
				width: 33.3%;
			}
			@if $name == quarter {
				width: 25%;
			}
			@if $name == fifth {
				width: 20%;
			}
			@if $name == sixth {
				width: 16.6%;
			}
			@if $name == eighth {
				width: 12.5%;
			}
			@if $name == tenth {
				width: 10%;
			}
			@if $name == twelfth {
				width: 8.3%;
			}

			@if $name == tinyem {
				margin: 0.2em;
			}
			@if $name == smallem {
				margin: 0.5em;
			}
			@if $name == littleem {
				margin: 0.8em;
			}
			@if $name == baseem {
				margin: 1em;
			}
			@if $name == middleem {
				margin: 1.2em;
			}
			@if $name == bigem {
				margin: 1.5em;
			}
			@if $name == largeem {
				margin: 2em;
			}

			@if $name == tinypercent {
				margin: 1%;
			}
			@if $name == smallpercent {
				margin: 2.5%;
			}
			@if $name == littlepercent {
				margin: 4%;
			}
			@if $name == basepercent {
				margin: 5%;
			}
			@if $name == middlepercent {
				margin: 7.5%;
			}
			@if $name == bigpercent {
				margin: 10%;
			}
			@if $name == largepercent {
				margin: 15%;
			}

			@if $name == tiny {
				margin: 1px;
			}
			@if $name == small {
				margin: 2px;
			}
			@if $name == little {
				margin: 5px;
			}
			@if $name == base {
				margin: 10px;
			}
			@if $name == middle {
				margin: 15px;
			}
			@if $name == big {
				margin: 20px;
			}
			@if $name == large {
				margin: 30px;
			}
		}
	}
}

@define-mixin checkedDisplay $name {
	&.pkg-checked_display-$name{
		position: relative;
		display: $name;
		@if $name == block {
			&:after{
				display: block;
				content: '';
				width: 100%;
				clear: both;
			}
			.pkg-checked-option {
				float: left;
			}
		}
		.pkg-checked-option {
			display: $name;
			/* ----- border: 1px solid #f00 !important; */
		}
	}
}

@define-mixin checkedPadding $name {
	&.pkg-checked_padding-$name{

		.pkg-checked-icon {
			&:before,
			&:after,
			> * {
				@if $name == $PADDING_TINY {
					padding-top: $num_padding_tiny;
					padding-bottom: $num_padding_tiny;
				}
				@if $name == $PADDING_SMALL {
					padding-top: $num_padding_small;
					padding-bottom: $num_padding_small;
				}
				@if $name == $PADDING_LITTLE {
					padding-top: $num_padding_little;
					padding-bottom: $num_padding_little;
				}
				@if $name == $PADDING_BASE {
					padding-top: $num_padding_base;
					padding-bottom: $num_padding_base;
				}
				@if $name == $PADDING_MIDDLE {
					padding-top: $num_padding_midde;
					padding-bottom: $num_padding_midde;
				}
				@if $name == $PADDING_BIG {
					padding-top: $num_padding_big;
					padding-bottom: $num_padding_big;
				}
				@if $name == $PADDING_LARGE {
					padding-top: $num_padding_large;
					padding-bottom: $num_padding_large;
				}
				@if $name == $PADDING_HUGE {
					padding-top: $num_padding_huge;
					padding-bottom: $num_padding_huge;
				}
			}
		}

	}
}

@define-mixin checkedFillet $name {
	&.pkg-checked_fillet-$name {
		/* *** .pkg-checked-option { *** */
		.pkg-checked-option,
		.pkg-checked-icon {
			@if $name == $FILLET_NONE {
				border-radius: $num_fillet_none;
			}
			@if $name == $FILLET_TINY {
				border-radius: $num_fillet_tiny;
			}
			@if $name == $FILLET_BASE {
				border-radius: $num_fillet_base;
			}
			@if $name == $FILLET_CIRCLE {
				border-radius: $num_fillet_circle;
			}
		}
	}
}

@define-mixin iconShowContent $name {
	@if $name == heart {
		content: "\f116";
	}
	@if $name == emptyheart {
		content: "\f11a";
	}
	@if $name == checked {
		content: "\f107";
	}
	@if $name == squarechecked {
		content: "\f126";
	}
	@if $name == square {
		content: "\f121";
	}
	@if $name == close {
		content: "\f115";
	}
	@if $name == line {
		content: "\f104";
	}
	@if $name == emptysquare {
		content: "\f112";
	}
	@if $name == rhombus {
		content: "\f11d";
	}
	@if $name == star {
		content: "\f114";
	}
	@if $name == emptystar {
		content: "\f124";
	}
	@if $name == circle {
		content: "\f10b";
	}
	@if $name == emptycircle {
		content: "\f10a";
	}
}

@define-mixin iconShow $name {
	&.pkg-checked_iconshow-$name {
		&.pkg-checked_iconposition-left,
		&.pkg-checked_iconposition-top {
			.pkg-checked-icon {
				&:before {
					@mixin iconShowContent $name ;
				}
			}
		}

		&.pkg-checked_iconposition-right,
		&.pkg-checked_iconposition-bottom {
			&.pkg-checked-icon,
			.pkg-checked-icon {
				&:after {
					@mixin iconShowContent $name ;
				}
			}
		}
	}
	&.pkg-checked_iconchecked-$name {
		&.pkg-checked_iconposition-left,
		&.pkg-checked_iconposition-top {
			.pkg-checked-option {
				&.pkg-checked-option_checked {
					&.pkg-checked-icon,
					.pkg-checked-icon {
						&:before {
							@mixin iconShowContent $name ;
						}
					}
				}
			}
		}

		&.pkg-checked_iconposition-right,
		&.pkg-checked_iconposition-bottom {
			.pkg-checked-option {
				&.pkg-checked-option_checked {
					&.pkg-checked-icon,
					.pkg-checked-icon {
						&:after {
							@mixin iconShowContent $name ;
						}
					}
				}
			}
		}
	}
}

/* 各元件的spacing */
.pkg-item {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.pkg-list-option::before {
	padding-left: 0.5em;
}

.pkg-checked.pkg-checked_iconposition-left .pkg-checked-icon:before {
	padding-left: 0.5em;
}
.pkg-checked.pkg-checked_iconposition-right .pkg-checked-icon:after {
	padding-right: 0.5em;
}

.pkg-checked {
	&, * {
		box-sizing: border-box;
	}

	&.pkg-checked_disabled {
		opacity: 0.6;
		.pkg-checked-option {
			&:hover {
				cursor: default;
			}
		}
	}

	@mixin checkedDisplay block ;
	@mixin checkedDisplay inline-block ;

	@mixin checkedPadding tiny ;
	@mixin checkedPadding small ;
	@mixin checkedPadding little ;
	@mixin checkedPadding base ;
	@mixin checkedPadding middle ;
	@mixin checkedPadding big ;
	@mixin checkedPadding large ;

	@mixin checkedFillet none ;
	@mixin checkedFillet tiny ;
	@mixin checkedFillet base ;
	@mixin checkedFillet circle ;

	@mixin composition half ;
	@mixin composition third ;
	@mixin composition quarter ;
	@mixin composition fifth ;
	@mixin composition sixth ;
	@mixin composition eighth ;
	@mixin composition tenth ;
	@mixin composition twelfth ;

	@mixin composition tinyem ;
	@mixin composition smallem ;
	@mixin composition littleem ;
	@mixin composition baseem ;
	@mixin composition middleem ;
	@mixin composition bigem ;
	@mixin composition largeem ;

	@mixin composition tinypercent ;
	@mixin composition smallpercent ;
	@mixin composition littlepercent ;
	@mixin composition basepercent ;
	@mixin composition middlepercent ;
	@mixin composition bigpercent ;
	@mixin composition largepercent ;

	@mixin composition tiny ;
	@mixin composition small ;
	@mixin composition little ;
	@mixin composition base ;
	@mixin composition middle ;
	@mixin composition big ;
	@mixin composition large ;

	&.pkg-checked_listposition-outer {
		/* 設成block以確保padding為正確的 */
		/*
		listPosition={Setting.LIST_POSITION_OUTER}
		iconPosition={Setting.ICON_POSTION_TOP} 
		*/
		&.pkg-checked_iconposition-top {
			.pkg-checked-option{
				&.pkg-list-option {
					.pkg-checked-icon {
						>.pkg-item {
							display: block;
							/* ----- background: #ff9; */
						}
					}
				}
			} 
		}

		/* 設成block以確保padding為正確的 */
		/*
		listPosition={Setting.LIST_POSITION_OUTER}
		iconPosition={Setting.ICON_POSTION_BOTTOM} 
		*/
		&.pkg-checked_iconposition-bottom {
			.pkg-checked-option{
				&.pkg-list-option {
					.pkg-checked-icon {
					    display: inline-table;
						>.pkg-item {
							display: inline-block;
							/* ----- background: #9fc; */
						}
					}
				}
			} 
		}
	}

	&.pkg-checked_listposition-inner {
		/* 設成block以確保padding為正確的 */
		/*
		listPosition={Setting.LIST_POSITION_INNER}
		iconPosition={Setting.ICON_POSTION_TOP}
		*/
		&.pkg-checked_iconposition-top,
		&.pkg-checked_iconposition-bottom {
			.pkg-checked-option { 
				&.pkg-checked-icon {
					>.pkg-list-option {
						display: block;
						/* ----- background: #fcc; */
					}
				}
			}
		}
	}
	

	&.pkg-checked_iconposition-left,
	&.pkg-checked_iconposition-top {

		.pkg-checked-icon {
			&:before {
				@extend fontMajoCpt;
			}
		}
	}

	&.pkg-checked_iconposition-right,
	&.pkg-checked_iconposition-bottom {

		.pkg-checked-icon {
			&:after {
				@extend fontMajoCpt;
			}
		}
	}

	&.pkg-checked_iconposition-left {
		.pkg-checked-icon {
			&:before,
			> * {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	&.pkg-checked_iconposition-right {
		.pkg-checked-icon {
			&:after,
			> * {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	&.pkg-checked_iconposition-top {
		.pkg-checked-icon {
			&:before {
				display: block;
				text-align: center;
			}
		}
	}

	&.pkg-checked_iconposition-bottom {
		.pkg-checked-icon {
			&:after {
				display: block;
				text-align: center;
			}
		}
	}

	@mixin iconShow heart ;
	@mixin iconShow emptyheart ;
	@mixin iconShow checked ;
	@mixin iconShow square-checked ;
	@mixin iconShow square ;
	@mixin iconShow close ;
	@mixin iconShow line ;
	
	@mixin iconShow emptysquare ;
	@mixin iconShow rhombus ;
	@mixin iconShow star ;
	@mixin iconShow emptystar ;
	@mixin iconShow circle ;
	@mixin iconShow emptycircle ;

	/* ***** 分項標準在這（參考） ***** */
	.pkg-checked-option {
		overflow: hidden;
		&:hover {
			cursor: pointer;
		}
	}
	/*.pkg-checked-option {
		border: 1px solid #ff0;
		background: #ffc; 
	} 
	.pkg-checked-icon {
		border: 1px solid #f0f; 
		display: inline-block;
		background: #fcf; 
	}*/

	.pkg-item {
		.pkg-item-input {
			position: fixed;
			left: -300px;
			left: -105vw;
			top: -300px;
			top: -105vh;
		}
	}

}

.pkg-list {
	counter-reset: cpt_list_count;

	@mixin listStyle disc ;
	@mixin listStyle circle ;
	@mixin listStyle decimal ;
	@mixin listStyle square ;
	@mixin listStyle decimal-leading-zero ;
	@mixin listStyle lower-roman ;
	@mixin listStyle upper-roman ;
	@mixin listStyle lower-greek ;
	@mixin listStyle lower-latin ;
	@mixin listStyle upper-latin ;

	.pkg-list-option {
		&:before {
			counter-increment: cpt_list_count;
		}
	}

}

.pkg-item {
	&, * {
		box-sizing: border-box;
		display: inline-block; /* ***加不加呢*** */
        /* transform: scale(1.2); */
	}
	line-height: 100%;
	.pkg-item-input {
		margin-left: 0.5em;
	}
}