@import 'font'; 

$PADDING_TINY: tiny;
$PADDING_SMALL: small;
$PADDING_LITTLE: little;
$PADDING_BASE: base; 
$PADDING_MIDDLE: middle;
$PADDING_BIG: big;
$PADDING_LARGE: large; 
$PADDING_HUGE: huge;

$num_padding_tiny: 0.2em;
$num_padding_small: 0.5em;
$num_padding_little: 0.8em;
$num_padding_base: 1em;
$num_padding_midde: 1.2em;
$num_padding_big: 1.5em;
$num_padding_large: 2em;
$num_padding_huge: 2.5em;

$num_padding_spacing: 0.5em;

@define-extend paddingSpacing {
	padding-left: $num_padding_spacing;
	padding-right: $num_padding_spacing;
}

@define-mixin listStyle $name {
	&.pkg-list_style-$name{
		.pkg-list-option {
			&:before {
				content: counter(cpt_list_count, $name) ". ";
			}
		}
	}
}

@define-mixin checkedDisplay $name {
	&.pkg-checked_display-$name{
		position: relative;
		display: $name;
		@if $name == block {
			&:after{
				display: block;
				content: '';
				width: 100%;
				clear: both;
			}
			.pkg-checked-option {
				float: left;
			}
		}
		.pkg-checked-option {
			display: $name;
		}
	}
}

@define-mixin checkedPadding $name {
	&.pkg-checked_padding-$name{

		.pkg-checked-icon {
			&:before,
			&:after,
			> * {
				@if $name == $PADDING_TINY {
					padding-top: $num_padding_tiny;
					padding-bottom: $num_padding_tiny;
				}
				@if $name == $PADDING_SMALL {
					padding-top: $num_padding_small;
					padding-bottom: $num_padding_small;
				}
				@if $name == $PADDING_LITTLE {
					padding-top: $num_padding_little;
					padding-bottom: $num_padding_little;
				}
				@if $name == $PADDING_BASE {
					padding-top: $num_padding_base;
					padding-bottom: $num_padding_base;
				}
				@if $name == $PADDING_MIDDLE {
					padding-top: $num_padding_midde;
					padding-bottom: $num_padding_midde;
				}
				@if $name == $PADDING_BIG {
					padding-top: $num_padding_big;
					padding-bottom: $num_padding_big;
				}
				@if $name == $PADDING_LARGE {
					padding-top: $num_padding_large;
					padding-bottom: $num_padding_large;
				}
				@if $name == $PADDING_HUGE {
					padding-top: $num_padding_huge;
					padding-bottom: $num_padding_huge;
				}
			}
		}

	}
}

@define-mixin iconShowContent $name {
	@if $name == heart {
		content: "\e010";
	}
	@if $name == emptyheart {
		content: "\e014";
	}
	@if $name == checked {
		content: "\e007";
	}
	@if $name == squarechecked {
		content: "\e006";
	}
	@if $name == square {
		content: "\e017";
	}
	@if $name == close {
		content: "\e00f";
	}
	@if $name == line {
		content: "\e004";
	}
}

@define-mixin iconShow $name {
	&.pkg-checked_iconshow-$name {
		&.pkg-checked_iconposition-left,
		&.pkg-checked_iconposition-top {
			.pkg-checked-icon {
				&:before {
					@mixin iconShowContent $name ;
				}
			}
		}

		&.pkg-checked_iconposition-right,
		&.pkg-checked_iconposition-bottom {
			&.pkg-checked-icon,
			.pkg-checked-icon {
				&:after {
					@mixin iconShowContent $name ;
				}
			}
		}
	}
	&.pkg-checked_iconchecked-$name {
		&.pkg-checked_iconposition-left,
		&.pkg-checked_iconposition-top {
			.pkg-checked-option {
				&.pkg-checked-option_checked {
					&.pkg-checked-icon,
					.pkg-checked-icon {
						&:before {
							@mixin iconShowContent $name ;
						}
					}
				}
			}
		}

		&.pkg-checked_iconposition-right,
		&.pkg-checked_iconposition-bottom {
			.pkg-checked-option {
				&.pkg-checked-option_checked {
					&.pkg-checked-icon,
					.pkg-checked-icon {
						&:after {
							@mixin iconShowContent $name ;
						}
					}
				}
			}
		}
	}
}

.pkg-checked {
	&, * {
		box-sizing: border-box;
	}

	&.pkg-checked_disabled {
		opacity: 0.6;
	}

	@mixin checkedDisplay block ;
	@mixin checkedDisplay inline-block ;

	@mixin checkedPadding tiny ;
	@mixin checkedPadding small ;
	@mixin checkedPadding little ;
	@mixin checkedPadding base ;
	@mixin checkedPadding middle ;
	@mixin checkedPadding big ;
	@mixin checkedPadding large ;

	&.pkg-checked_iconposition-left,
	&.pkg-checked_iconposition-top {

		.pkg-checked-icon {
			&:before {
				@extend fontMajoCpt;
			}
		}
	}

	&.pkg-checked_iconposition-right,
	&.pkg-checked_iconposition-bottom {

		.pkg-checked-icon {
			&:after {
				@extend fontMajoCpt;
			}
		}
	}

	&.pkg-checked_iconposition-left {
		.pkg-checked-icon {
			&:before,
			> * {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	&.pkg-checked_iconposition-right {
		.pkg-checked-icon {
			&:after,
			> * {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	&.pkg-checked_iconposition-top {
		.pkg-checked-icon {
			&:before {
				display: block;
				text-align: center;
			}
		}
	}

	&.pkg-checked_iconposition-bottom {
		.pkg-checked-icon {
			&:after {
				display: block;
				text-align: center;
			}
		}
	}

	@mixin iconShow heart ;
	@mixin iconShow emptyheart ;
	@mixin iconShow checked ;
	@mixin iconShow square-checked ;
	@mixin iconShow square ;
	@mixin iconShow close ;
	@mixin iconShow line ;

	.pkg-checked-option {
		border: 1px solid #f0f;
	}

	.pkg-item {
		.pkg-item-input {
			position: fixed;
			left: -300px;
			left: -105vw;
			top: -300px;
			top: -105vh;
		}
	}

}

.pkg-list {
	counter-reset: cpt_list_count;

	@mixin listStyle disc ;
	@mixin listStyle circle ;
	@mixin listStyle decimal ;
	@mixin listStyle square ;
	@mixin listStyle decimal-leading-zero ;
	@mixin listStyle lower-roman ;
	@mixin listStyle upper-roman ;
	@mixin listStyle lower-greek ;
	@mixin listStyle lower-latin ;
	@mixin listStyle upper-latin ;

	.pkg-list-option {
		&:before {
			counter-increment: cpt_list_count;
		}
	}

}

.pkg-item {
	&, * {
		box-sizing: border-box;
	}
	line-height: 100%;
	.pkg-item-input {
		margin-left: 0.5em;
	}
}