@define-mixin listStyle $name {
	&.pkg-list_style-$name{
		.pkg-list-option {
			&:before {
				content: counter(cpt_list_count, $name) ". ";
			}
		}
	}
}

@define-mixin checkedDisplay $name {
	&.pkg-checked_display-$name{
		position: relative;
		display: $name;
		@if $name == block {
			&:after{
				display: block;
				content: '';
				width: 100%;
				clear: both;
			}
			.pkg-checked-option {
				float: left;
			}
		}
		.pkg-checked-option {
			display: $name;
		}
	}
}

@define-mixin checkedPadding $name {
	&.pkg-checked_padding-$name{
		
		.pkg-checked-icon {
			&:before,
			&:after,
			> * {
				@if $name == tiny {
					padding: 0.2em;
				}@else if $name == small {
					padding: 0.5em;
				}@else if $name == little {
					padding: 0.8em;
				}@else if $name == base {
					padding: 1em;
				}@else if $name == middle {
					padding: 1.2em;
				}@else if $name == big {
					padding: 1.5em;
				}@else if $name == large {
					padding: 2em;
				}
			}
		}
	}
}

.pkg-checked {
	&, * {
		box-sizing: border-box;
	}

	&.pkg-checked_disabled {
		opacity: 0.6;
	}

	@mixin checkedDisplay block ;
	@mixin checkedDisplay inline-block ;

	@mixin checkedPadding tiny ;
	@mixin checkedPadding small ;
	@mixin checkedPadding little ;
	@mixin checkedPadding base ;
	@mixin checkedPadding middle ;
	@mixin checkedPadding big ;
	@mixin checkedPadding large ;

	&.pkg-checked_iconposition-left,
	&.pkg-checked_iconposition-top {

		.pkg-checked-icon {
			&:before {
				content: 'O-';
			}
		}
	}

	&.pkg-checked_iconposition-right,
	&.pkg-checked_iconposition-bottom {

		.pkg-checked-icon {
			&:after {
				content: 'O-';
			}
		}
	}

	&.pkg-checked_iconposition-left {
		.pkg-checked-icon {
			&:before,
			> * {
				border: 1px solid #f00;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	&.pkg-checked_iconposition-right {
		.pkg-checked-icon {
			&:after,
			> * {
				border: 1px solid #f00;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	&.pkg-checked_iconposition-top {
		.pkg-checked-icon {
			&:before {
				display: block;
				text-align: center;
			}
		}
	}

	&.pkg-checked_iconposition-bottom {
		.pkg-checked-icon {
			&:after {
				display: block;
				text-align: center;
			}
		}
	}	

	.pkg-checked-option {
		border: 1px solid #f0f;
	}

	.pkg-item {
		.pkg-item-input {
			display: none;
		}
	}

}

.pkg-list {
	counter-reset: cpt_list_count;

	@mixin listStyle disc ;
	@mixin listStyle circle ;
	@mixin listStyle decimal ;
	@mixin listStyle square ;
	@mixin listStyle decimal-leading-zero ;
	@mixin listStyle lower-roman ;
	@mixin listStyle upper-roman ;
	@mixin listStyle lower-greek ;
	@mixin listStyle lower-latin ;
	@mixin listStyle upper-latin ;

	.pkg-list-option {
		&:before {
			counter-increment: cpt_list_count;
		}
	}

}

.pkg-item {
	&, * {
		box-sizing: border-box;
	}
	line-height: 100%;
	.pkg-item-input {
		margin-left: 0.5em;
	}
}