/*
	https://color.adobe.com/zh/library/8df9ae20-7f71-11e4-b689-0f79fc4717ce/theme/22cd0fc6-b545-4d6e-9092-0a57d7980ae1/
*/
$STYLE_RESURGENCE_MAIN_BACK: #F2EAE7 ;
$STYLE_RESURGENCE_MAIN_TEXT: #8A7F7D ;
$STYLE_RESURGENCE_LIST_TEXT: color(#FFFFFF a(75%)) ;
$STYLE_RESURGENCE_LIST_TEXT_CHECKED: #FFFFFF ;
$STYLE_RESURGENCE_ICON_TEXT: #B2DBCD ;
$STYLE_RESURGENCE_ICON_TEXT_CHECKED: #F1B6AE ;
$STYLE_RESURGENCE_ICON_BACK: color(#B2DBCD a(40%)) ;
$STYLE_RESURGENCE_ICON_BACK_CHECKED: color(#F1B6AE a(40%)) ;
$STYLE_RESURGENCE_BORDER: #B2DBCD ;
$STYLE_RESURGENCE_BORDER_CHECKED: #F1B6AE ;

/*
	https://color.adobe.com/zh/library/8df9ae20-7f71-11e4-b689-0f79fc4717ce/theme/49bba11b-c788-4d41-8787-117a157f641b/
*/
$STYLE_SPRING_MAIN_BACK: #F2358D ;
$STYLE_SPRING_MAIN_BACK_CHECKED: color(#F2358D lightness(40%)) ;
$STYLE_SPRING_MAIN_TEXT: #F2CED8 ;
$STYLE_SPRING_LIST_TEXT: color(#F2E963 a(80%)) ;
$STYLE_SPRING_LIST_TEXT_CHECKED: #F2E963 ;
$STYLE_SPRING_ICON_TEXT: color(#F2E963 a(80%)) ;
$STYLE_SPRING_ICON_TEXT_CHECKED: #F2E963 ;
$STYLE_SPRING_ICONINICONBACK_TEXT: #F2358D ;
$STYLE_SPRING_ICONINICONBACK_TEXT_CHECKED: color(#F2358D lightness(30%)) ;
$STYLE_SPRING_ICON_BACK: #F2CED8 ;
$STYLE_SPRING_ICON_BACK_CHECKED: color(#F2CED8 a(60%)) ;
$STYLE_SPRING_BORDER: color(#73398C a(40%)) ;
$STYLE_SPRING_BORDER_CHECKED: #73398C ;
/* #F2E963 */
/* #D8F6EA */

/*
	https://color.adobe.com/zh/library/8df9ae20-7f71-11e4-b689-0f79fc4717ce/theme/fa36b31a-7501-4fc5-9983-43505d8c89b0/
*/
$STYLE_WINE_MAIN_BACK: #8C2756 ;
$STYLE_WINE_MAIN_TEXT: #F2B6D7 ;
$STYLE_WINE_MAIN_TEXTSHADOW_CHECKED: color(#F2F2F2 a(80%)) ;
$STYLE_WINE_LIST_TEXT: color(#F2B6D7 a(40%)) ;
$STYLE_WINE_LIST_TEXT_CHECKED: #F2B6D7 ;
$STYLE_WINE_ICON_TEXT: color(#F2B6D7 a(40%)) ;
$STYLE_WINE_ICON_TEXT_CHECKED: #F2B6D7 ;
$STYLE_WINE_ICON_BACK: #73294C ;
$STYLE_WINE_ICON_BACK_CHECKED: color(#593649 a(40%)) ;
$STYLE_WINE_BORDER: #F2F2F2 ;

/*
	https://color.adobe.com/zh/library/8df9ae20-7f71-11e4-b689-0f79fc4717ce/theme/c6ad5646-2656-4179-a512-4d0fc726f660/
*/
$STYLE_BLUESKY_MAIN_BACK: #B6D7F6 ;
$STYLE_BLUESKY_MAIN_BACKLINEAR_CHECKED_UP: #B6D7F6 ;
$STYLE_BLUESKY_MAIN_BACKLINEAR_CHECKED_DOWN: #9EC7EF ;
$STYLE_BLUESKY_MAIN_TEXT: #7AAADB ;
$STYLE_BLUESKY_LIST_TEXT: #4E86C2 ;
$STYLE_BLUESKY_ICON_TEXT: white ;
$STYLE_BLUESKY_ICONINICONBACK_TEXT: #B6D7F6 ;
$STYLE_BLUESKY_ICONINICONBACK_TEXT_CHECKED: color(#9EC7EF lightness(90%)) ;
$STYLE_BLUESKY_ICON_BACKLINEAR_CHECKED_UP: #4E86C2 ;
$STYLE_BLUESKY_ICON_BACKLINEAR_CHECKED_DOWN: #3F70A8 ;
$STYLE_BLUESKY_BORDER: #7AAADB ;
/*
#3F70A8
#4E86C2
#7AAADB
#9EC7EF
#B6D7F6
*/

/*
	https://color.adobe.com/zh/library/8df9ae20-7f71-11e4-b689-0f79fc4717ce/theme/fcc85d41-19fd-4645-9aa1-13c8d21b2515/
*/
$STYLE_LOVELY_MAIN_BACK: #F3E4C2 ;
$STYLE_LOVELY_MAIN_BACKLINEAR_UP: color(#7CC699 a(0%)) ;
$STYLE_LOVELY_MAIN_BACKLINEAR_DOWN: color(#7CC699 a(20%)) ;
$STYLE_LOVELY_MAIN_BACKLINEAR_CHECKED_UP: color(#F37A5A a(0%)) ;
$STYLE_LOVELY_MAIN_BACKLINEAR_CHECKED_DOWN: color(#F37A5A a(20%)) ;
$STYLE_LOVELY_MAIN_TEXT: #1A413C ;
$STYLE_LOVELY_MAIN_TEXT_CHECKED: #EF4926 ;
$STYLE_LOVELY_LIST_TEXT: color(#7CC699 lightness(30%)) ;
$STYLE_LOVELY_LIST_TEXT_CHECKED: color(#F37A5A lightness(30%)) ;
$STYLE_LOVELY_ICON_TEXT: color(#1A413C lightness(40%)) ;
$STYLE_LOVELY_ICON_TEXT_CHECKED: color(#EF4926 lightness(40%)) ;
$STYLE_LOVELY_ICONBACK: color(#1A413C a(60%)) ;
$STYLE_LOVELY_ICONBACK_CHECKED: color(#EF4926 a(60%)) ;
$STYLE_LOVELY_ICONINICONBACK_TEXT: #F3E4C2 ;
$STYLE_LOVELY_BORDER: #1A413C ;
$STYLE_LOVELY_BORDER_CHECKED: #EF4926 ;
/*
#1A413C
#7CC699
#F3E4C2
#F37A5A
#EF4926
*/

/*
	https://color.adobe.com/zh/library/8df9ae20-7f71-11e4-b689-0f79fc4717ce/theme/df27ac7c-a11e-43ec-80c7-7415a3db8ab7/
*/
$STYLE_LUXURY_MAIN_BACK: #A70704 ;
$STYLE_LUXURY_MAIN_BACK_CHECKED: #580001 ;
$STYLE_LUXURY_MAIN_BACKSHADOW: color(#F4F4F2 a(30%)) ;
$STYLE_LUXURY_MAIN_TEXT: #F2A20D ;
$STYLE_LUXURY_MAIN_TEXT_CHECKED: #F3D64B ;
$STYLE_LUXURY_MAIN_TEXTSHADOW_CHECKED: #F4F4F2 ;
$STYLE_LUXURY_BORDERLEFTTOP: color(#A70704 lightness(70%)) ;
$STYLE_LUXURY_BORDERLEFTTOP_CHECKED: color(#580001 lightness(70%)) ;
$STYLE_LUXURY_BORDERRIGHTBOTTOM: color(#A70704 lightness(85%)) ;
$STYLE_LUXURY_BORDERRIGHTBOTTOM_CHECKED: color(#580001 lightness(85%)) ;
$STYLE_LUXURY_LIST_TEXT: color(#F4F4F2 a(80%)) ;
$STYLE_LUXURY_LIST_TEXT_CHECKED: #F4F4F2 ;
$STYLE_LUXURY_ICON_TEXT: color(#F4F4F2 a(80%)) ;
$STYLE_LUXURY_ICON_TEXT_CHECKED: #F4F4F2 ;
$STYLE_LUXURY_ICONBACK: color(#580001 a(30%)) ;
$STYLE_LUXURY_ICONBACK_CHECKED: color(#A70704 a(30%)) ;
/*
#F3D64B
#F2A20D
#580001
#A70704
#F4F4F2
*/

/*
	https://color.adobe.com/zh/library/8df9ae20-7f71-11e4-b689-0f79fc4717ce/theme/0a072ea5-e1b5-4565-8f58-96cba1dc82b6/
*/
$STYLE_FANTASY_MAIN_BACK: #74FCFF ;
$STYLE_FANTASY_MAIN_TEXT: #2DB0B2 ;
$STYLE_FANTASY_MAIN_TEXT_CHECKED: color(#2DB0B2 lightness(30%)) ;
$STYLE_FANTASY_BORDER: color(#2DB0B2 a(60%)) ;
$STYLE_FANTASY_LIST_TEXT: color(#2DB0B2 a(60%)) ;
$STYLE_FANTASY_ICON_TEXT: color(#2DB0B2 a(60%)) ;
$STYLE_FANTASY_ICON_TEXT_CHECKED: color(#2DB0B2 a(80%)) ;
$STYLE_FANTASY_ICON_TEXTINICONBACK: color(#FA853C a(75%)) ;
$STYLE_FANTASY_ICON_TEXTINICONBACK_CHECKED: #FA853C ;
$STYLE_FANTASY_ICONBACK: #FFA974 ;
/*
#FA853C
#FFB98D
#FFA974
#2DB0B2
#74FCFF
*/

/*
	https://color.adobe.com/zh/library/8df9ae20-7f71-11e4-b689-0f79fc4717ce/theme/3e66e788-a3ae-4396-8579-c73e1eac817b/
*/
$STYLE_RIGID_MAIN_BACK: #DEE0E2 ;
$STYLE_RIGID_MAIN_TEXT: #393430 ;
$STYLE_RIGID_MAIN_TEXT_CHECKED: color(#393430 lightness(30%)) ;
$STYLE_RIGID_MAIN_TEXTSHADOW_CHECKED: white ;
$STYLE_RIGID_BORDER: #A47F6C ;
$STYLE_RIGID_BORDER_CHECKED: color(#A47F6C lightness(30%)) ;
$STYLE_RIGID_SHADOW: color(#A47F6C a(40%)) ;
$STYLE_RIGID_LIST_TEXT: #F1BA49 ;
$STYLE_RIGID_ICON_TEXT: #D0803C ;
$STYLE_RIGID_ICON_TEXT_CHECKED: color(#D0803C lightness(30%)) ;
$STYLE_RIGID_ICONBACK: color(#F1BA49 a(80%)) ;
$STYLE_RIGID_ICONBACK_CHECKED: #F1BA49 ;
$STYLE_RIGID_ICON_TEXTINICONBACK: #DEE0E2 ;
$STYLE_RIGID_ICON_TEXTINICONBACK_CHECKED: white ;
/*
#DEE0E2
#F1BA49
#D0803C
#A47F6C
#393430
*/

/*
	https://color.adobe.com/zh/library/8df9ae20-7f71-11e4-b689-0f79fc4717ce/theme/a80e5c0b-1a7e-4c20-a6cf-cd9f83240db3/
*/
$STYLE_WATERSIDE_MAIN_BACK: #CCCB20 ;
$STYLE_WATERSIDE_MAIN_BACK_CHECKED: color(#CCCB20 blackness(25%)) ;
$STYLE_WATERSIDE_MAIN_TEXT: #999946 ;
$STYLE_WATERSIDE_MAIN_TEXT_CHECKED: color(#999946 blackness(65%)) ;
$STYLE_WATERSIDE_MAIN_BACKSHADOW01: color(#FFCE0F a(75%));
$STYLE_WATERSIDE_MAIN_BACKSHADOW02: color(white a(55%));
$STYLE_WATERSIDE_BORDER: #FFCE0F ;
$STYLE_WATERSIDE_LIST_TEXT: color(#FFCE0F whiteness(65%)) ;
$STYLE_WATERSIDE_ICON_TEXT: #4F88FF ;
$STYLE_WATERSIDE_ICON_TEXT_CHECKED: #2085CC ;
$STYLE_WATERSIDE_ICONBACK: #FFCE0F ;
$STYLE_WATERSIDE_ICONBACKSHADOW: color(#999946 blackness(65%)) ;
/*
#CCCB20
#999946
#FFCE0F
#4F88FF
#2085CC
*/

.pkg-style {
	&.pkg-style_on {
		.pkg-style-iconback {
			&:before,
			&:after {
				padding-left: 0.5em;
				padding-right: 0.5em;
			}
		}
	}
	&.pkg-style_resurgence {
		.pkg-style-item {
			background: $STYLE_RESURGENCE_MAIN_BACK;
			color: $STYLE_RESURGENCE_MAIN_TEXT;
		}
		.pkg-style-border {
			border: 1px solid $STYLE_RESURGENCE_BORDER;
		}
		.pkg-style-border.pkg-style-border_checked {
			border-color: $STYLE_RESURGENCE_BORDER_CHECKED;
		}
		.pkg-style-list {
			&:before,
			&:after {
				color: $STYLE_RESURGENCE_LIST_TEXT;
			}
		}
		.pkg-style-list.pkg-style-list_checked {
			&:before,
			&:after {
				color: $STYLE_RESURGENCE_LIST_TEXT_CHECKED;
			}
		}
		.pkg-style-icon {
			&:before,
			&:after {
				color: $STYLE_RESURGENCE_ICON_TEXT;
			}
		}
		.pkg-style-icon.pkg-style-icon_checked {
			&:before,
			&:after {
				color: $STYLE_RESURGENCE_ICON_TEXT_CHECKED;
			}
		}
		.pkg-style-iconback {
			&:before,
			&:after {
				background: $STYLE_RESURGENCE_ICON_BACK;
			}
		}
		.pkg-style-iconback.pkg-style-iconback_checked {
			&:before,
			&:after {
				background: $STYLE_RESURGENCE_ICON_BACK_CHECKED;
			}
		}
	}
	&.pkg-style_spring {
		.pkg-style-item {
			background: $STYLE_SPRING_MAIN_BACK;
			color: $STYLE_SPRING_MAIN_TEXT;
		}
		.pkg-style-item.pkg-style-item_checked {
			background: $STYLE_SPRING_MAIN_BACK_CHECKED;
		}
		.pkg-style-border {
			border: 1px solid $STYLE_SPRING_BORDER;
		}
		.pkg-style-border.pkg-style-border_checked {
			border-color: $STYLE_SPRING_BORDER_CHECKED;
		}
		.pkg-style-list {
			&:before,
			&:after {
				color: $STYLE_SPRING_LIST_TEXT;
			}
		}
		.pkg-style-list.pkg-style-list_checked {
			&:before,
			&:after {
				color: $STYLE_SPRING_LIST_TEXT_CHECKED;
			}
		}
		.pkg-style-icon {
			&:before,
			&:after {
				color: $STYLE_SPRING_ICON_TEXT;
			}
		}
		.pkg-style-icon.pkg-style-icon_checked {
			&:before,
			&:after {
				color: $STYLE_SPRING_ICON_TEXT_CHECKED;
			}
		}
		.pkg-style-icon.pkg-style-iconback {
			&:before,
			&:after {
				color: $STYLE_SPRING_ICONINICONBACK_TEXT;
			}
		}
		.pkg-style-icon.pkg-style-icon_checked.pkg-style-iconback {
			&:before,
			&:after {
				color: $STYLE_SPRING_ICONINICONBACK_TEXT_CHECKED;
			}
		}
		.pkg-style-iconback {
			&:before,
			&:after {
				background: $STYLE_SPRING_ICON_BACK;
			}
		}
		.pkg-style-iconback.pkg-style-iconback_checked {
			&:before,
			&:after {
				background: $STYLE_SPRING_ICON_BACK_CHECKED;
			}
		}
	}
	&.pkg-style_wine {
		.pkg-style-item {
			background: $STYLE_WINE_MAIN_BACK;
			color: $STYLE_WINE_MAIN_TEXT;
		}
		.pkg-style-item.pkg-style-item_checked {
			text-shadow: 0 0 3px $STYLE_WINE_MAIN_TEXTSHADOW_CHECKED;
		}
		.pkg-style-border {
			border: 1px solid $STYLE_WINE_BORDER;
		}
		.pkg-style-list {
			&:before,
			&:after {
				color: $STYLE_WINE_LIST_TEXT;
			}
		}
		.pkg-style-list.pkg-style-list_checked {
			&:before,
			&:after {
				color: $STYLE_WINE_LIST_TEXT_CHECKED;
			}
		}
		.pkg-style-icon {
			&:before,
			&:after {
				color: $STYLE_WINE_ICON_TEXT;
			}
		}
		.pkg-style-icon.pkg-style-icon_checked {
			&:before,
			&:after {
				color: $STYLE_WINE_ICON_TEXT_CHECKED;
			}
		}
		.pkg-style-iconback {
			&:before,
			&:after {
				background: $STYLE_WINE_ICON_BACK;
			}
		}
		.pkg-style-iconback.pkg-style-iconback_checked {
			&:before,
			&:after {
				background: $STYLE_WINE_ICON_BACK_CHECKED;
			}
		}
	}
	&.pkg-style_bluesky {
		.pkg-style-item {
			background: $STYLE_BLUESKY_MAIN_BACK;
			color: $STYLE_BLUESKY_MAIN_TEXT;
		}
		.pkg-style-item.pkg-style-item_checked {
			background: $STYLE_BLUESKY_MAIN_BACKLINEAR_CHECKED_UP; /* Old browsers */
			background: -moz-linear-gradient(top,  $STYLE_BLUESKY_MAIN_BACKLINEAR_CHECKED_UP 48%, $STYLE_BLUESKY_MAIN_BACKLINEAR_CHECKED_DOWN 52%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  $STYLE_BLUESKY_MAIN_BACKLINEAR_CHECKED_UP 48%,$STYLE_BLUESKY_MAIN_BACKLINEAR_CHECKED_DOWN 52%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  $STYLE_BLUESKY_MAIN_BACKLINEAR_CHECKED_UP 48%,$STYLE_BLUESKY_MAIN_BACKLINEAR_CHECKED_DOWN 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$STYLE_BLUESKY_MAIN_BACKLINEAR_CHECKED_UP', endColorstr='$STYLE_BLUESKY_MAIN_BACKLINEAR_CHECKED_DOWN',GradientType=0 ); /* IE6-9 */
		}
		.pkg-style-border {
			border: 1px solid $STYLE_BLUESKY_BORDER;
		}
		.pkg-style-icon {
			&:before,
			&:after {
				color: $STYLE_BLUESKY_ICON_TEXT;
			}
		}
		.pkg-style-icon.pkg-style-iconback {
			&:before,
			&:after {
				color: $STYLE_BLUESKY_ICONINICONBACK_TEXT;
			}
		}
		.pkg-style-list {
			&:before,
			&:after {
				color: $STYLE_BLUESKY_LIST_TEXT;
			}
		}
		.pkg-style-iconback {
			&:before,
			&:after {
				background: $STYLE_BLUESKY_ICON_BACKLINEAR_CHECKED_UP; /* Old browsers */
				background: -moz-linear-gradient(top,  $STYLE_BLUESKY_ICON_BACKLINEAR_CHECKED_UP 48%, $STYLE_BLUESKY_ICON_BACKLINEAR_CHECKED_DOWN 52%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  $STYLE_BLUESKY_ICON_BACKLINEAR_CHECKED_UP 48%,$STYLE_BLUESKY_ICON_BACKLINEAR_CHECKED_DOWN 52%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  $STYLE_BLUESKY_ICON_BACKLINEAR_CHECKED_UP 48%,$STYLE_BLUESKY_ICON_BACKLINEAR_CHECKED_DOWN 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$STYLE_BLUESKY_ICON_BACKLINEAR_CHECKED_UP', endColorstr='$STYLE_BLUESKY_ICON_BACKLINEAR_CHECKED_DOWN',GradientType=0 ); /* IE6-9 */
			}
		}
		.pkg-style-iconback.pkg-style-iconback_checked,
		.pkg-style-iconback.pkg-style-iconback_checked.pkg-style-icon {
			&:before,
			&:after {
				color: $STYLE_BLUESKY_ICONINICONBACK_TEXT_CHECKED;
			}
		}
	}
	&.pkg-style_lovely {
		.pkg-style-item {
			color: $STYLE_LOVELY_MAIN_TEXT;
			background: $STYLE_LOVELY_MAIN_BACKLINEAR_UP; /* Old browsers */
			background: $STYLE_LOVELY_MAIN_BACK -moz-linear-gradient(top,  $STYLE_LOVELY_MAIN_BACKLINEAR_UP 48%, $STYLE_LOVELY_MAIN_BACKLINEAR_DOWN 52%); /* FF3.6-15 */
			background: $STYLE_LOVELY_MAIN_BACK -webkit-linear-gradient(top,  $STYLE_LOVELY_MAIN_BACKLINEAR_UP 48%,$STYLE_LOVELY_MAIN_BACKLINEAR_DOWN 52%); /* Chrome10-25,Safari5.1-6 */
			background: $STYLE_LOVELY_MAIN_BACK linear-gradient(to bottom,  $STYLE_LOVELY_MAIN_BACKLINEAR_UP 48%,$STYLE_LOVELY_MAIN_BACKLINEAR_DOWN 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$STYLE_LOVELY_MAIN_BACKLINEAR_UP', endColorstr='$STYLE_LOVELY_MAIN_BACKLINEAR_DOWN',GradientType=0 ); /* IE6-9 */
		}
		.pkg-style-item.pkg-style-item_checked {
			color: $STYLE_LOVELY_MAIN_TEXT_CHECKED;
			background: $STYLE_LOVELY_MAIN_BACKLINEAR_CHECKED_UP; /* Old browsers */
			background: $STYLE_LOVELY_MAIN_BACK -moz-linear-gradient(top,  $STYLE_LOVELY_MAIN_BACKLINEAR_CHECKED_UP 48%, $STYLE_LOVELY_MAIN_BACKLINEAR_CHECKED_DOWN 52%); /* FF3.6-15 */
			background: $STYLE_LOVELY_MAIN_BACK -webkit-linear-gradient(top,  $STYLE_LOVELY_MAIN_BACKLINEAR_CHECKED_UP 48%,$STYLE_LOVELY_MAIN_BACKLINEAR_CHECKED_DOWN 52%); /* Chrome10-25,Safari5.1-6 */
			background: $STYLE_LOVELY_MAIN_BACK linear-gradient(to bottom,  $STYLE_LOVELY_MAIN_BACKLINEAR_CHECKED_UP 48%,$STYLE_LOVELY_MAIN_BACKLINEAR_CHECKED_DOWN 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$STYLE_LOVELY_MAIN_BACKLINEAR_CHECKED_UP', endColorstr='$STYLE_LOVELY_MAIN_BACKLINEAR_CHECKED_DOWN',GradientType=0 ); /* IE6-9 */
		}
		.pkg-style-border {
			border: 1px solid $STYLE_LOVELY_BORDER;
		}
		.pkg-style-border.pkg-style-border_checked {
			border: 1px solid $STYLE_LOVELY_BORDER_CHECKED;
		}
		.pkg-style-list {
			&:before,
			&:after {
				color: $STYLE_LOVELY_LIST_TEXT;
			}
		}
		.pkg-style-list.pkg-style-list_checked {
			&:before,
			&:after {
				color: $STYLE_LOVELY_LIST_TEXT_CHECKED;
			}
		}
		.pkg-style-icon {
			&:before,
			&:after {
				color: $STYLE_LOVELY_ICON_TEXT;
			}
		}
		.pkg-style-icon.pkg-style-icon_checked {
			&:before,
			&:after {
				color: $STYLE_LOVELY_ICON_TEXT_CHECKED;
			}
		}
		.pkg-style-iconback,
		.pkg-style-iconback.pkg-style-icon {
			&:before,
			&:after {
				background: $STYLE_LOVELY_ICONBACK;	
				color: $STYLE_LOVELY_ICONINICONBACK_TEXT;		
			}
		}
		.pkg-style-iconback.pkg-style-iconback_checked,
		.pkg-style-iconback.pkg-style-iconback_checked.pkg-style-icon {
			&:before,
			&:after {
				background: $STYLE_LOVELY_ICONBACK_CHECKED;
				color: $STYLE_LOVELY_ICONINICONBACK_TEXT;
			}
		}
	}
	&.pkg-style_luxury {
		.pkg-style-item {
			background: $STYLE_LUXURY_MAIN_BACK;
			color: $STYLE_LUXURY_MAIN_TEXT;
			box-shadow: 0 0 0 2px $STYLE_LUXURY_MAIN_BACKSHADOW inset;
		}
		.pkg-style-item.pkg-style-item_checked {
			background: $STYLE_LUXURY_MAIN_BACK_CHECKED;
			color: $STYLE_LUXURY_MAIN_TEXT_CHECKED;
			text-shadow: 0 0 6px $STYLE_LUXURY_MAIN_TEXTSHADOW_CHECKED, 0 0 3px $STYLE_LUXURY_MAIN_TEXTSHADOW_CHECKED;
		}
		.pkg-style-border {
			border-left: 1px solid $STYLE_LUXURY_BORDERLEFTTOP;
			border-top: 1px solid $STYLE_LUXURY_BORDERLEFTTOP;
			border-right: 1px solid $STYLE_LUXURY_BORDERRIGHTBOTTOM;
			border-bottom: 1px solid $STYLE_LUXURY_BORDERRIGHTBOTTOM;
		}
		.pkg-style-border.pkg-style-border_checked {
			border-left: 1px solid $STYLE_LUXURY_BORDERLEFTTOP_CHECKED;
			border-top: 1px solid $STYLE_LUXURY_BORDERLEFTTOP_CHECKED;
			border-right: 1px solid $STYLE_LUXURY_BORDERRIGHTBOTTOM_CHECKED;
			border-bottom: 1px solid $STYLE_LUXURY_BORDERRIGHTBOTTOM_CHECKED;
		}
		.pkg-style-list {
			&:before,
			&:after {
				color: $STYLE_LUXURY_LIST_TEXT;
			}
		}
		.pkg-style-list.pkg-style-list_checked {
			&:before,
			&:after {
				color: $STYLE_LUXURY_LIST_TEXT_CHECKED;
			}
		}
		.pkg-style-icon {
			&:before,
			&:after {
				color: $STYLE_LUXURY_ICON_TEXT;
			}
		}
		.pkg-style-icon.pkg-style-icon_checked {
			&:before,
			&:after {
				color: $STYLE_LUXURY_ICON_TEXT_CHECKED;
			}
		}
		.pkg-style-iconback {
			&:before,
			&:after {
				background: $STYLE_LUXURY_ICONBACK;
			}
		}
		.pkg-style-iconback.pkg-style-iconback_checked {
			&:before,
			&:after {
				background: $STYLE_LUXURY_ICONBACK_CHECKED;
			}
		}
	}
	&.pkg-style_fantasy {
		.pkg-style-item {
			background: $STYLE_FANTASY_MAIN_BACK;
			color: $STYLE_FANTASY_MAIN_TEXT;
		}
		.pkg-style-item.pkg-style-item_checked {
			color: $STYLE_FANTASY_MAIN_TEXT_CHECKED;
		}
		.pkg-style-border {
			border: 2px solid $STYLE_FANTASY_BORDER;
		}
		.pkg-style-list {
			&:before,
			&:after {
				color: $STYLE_FANTASY_LIST_TEXT;
			}
		}
		.pkg-style-icon {
			&:before,
			&:after {
				color: $STYLE_FANTASY_ICON_TEXT;
			}
		}
		.pkg-style-icon.pkg-style-icon_checked {
			&:before,
			&:after {
				color: $STYLE_FANTASY_ICON_TEXT_CHECKED;
			}
		}
		.pkg-style-iconback {
			&:before,
			&:after {
				background: $STYLE_FANTASY_ICONBACK;
			}
		}
		.pkg-style-iconback,
		.pkg-style-iconback.pkg-style-icon {
			&:before,
			&:after {
				background: $STYLE_FANTASY_ICONBACK;
				color: $STYLE_FANTASY_ICON_TEXTINICONBACK;
			}
		}
		.pkg-style-iconback.pkg-style-iconback_checked,
		.pkg-style-iconback.pkg-style-iconback_checked.pkg-style-icon {
			&:before,
			&:after {
				color: $STYLE_FANTASY_ICON_TEXTINICONBACK_CHECKED;
			}
		}
	}
	&.pkg-style_rigid {
		.pkg-style-item {
			background: $STYLE_RIGID_MAIN_BACK;
			color: $STYLE_RIGID_MAIN_TEXT;
		}
		.pkg-style-item.pkg-style-item_checked {
			color: $STYLE_RIGID_MAIN_TEXT_CHECKED;
			text-shadow: 0 0 4px $STYLE_RIGID_MAIN_TEXTSHADOW_CHECKED;
		}
		.pkg-style-border {
			border: 1px solid $STYLE_RIGID_BORDER;
			box-shadow: 0 0 2px 0 $STYLE_RIGID_BORDER_CHECKED;
		}
		.pkg-style-border.pkg-style-border_checked {
			border: 1px solid $STYLE_RIGID_BORDER_CHECKED;
		}
		.pkg-style-list {
			&:before,
			&:after {
				color: $STYLE_RIGID_LIST_TEXT;
			}
		}
		.pkg-style-icon {
			&:before,
			&:after {
				color: $STYLE_RIGID_ICON_TEXT;
			}
		}
		.pkg-style-icon.pkg-style-icon_checked {
			&:before,
			&:after {
				color: $STYLE_RIGID_ICON_TEXT_CHECKED;
			}
		}
		.pkg-style-iconback,
		.pkg-style-iconback.pkg-style-icon {
			&:before,
			&:after {
				background: $STYLE_RIGID_ICONBACK;
				color: $STYLE_RIGID_ICON_TEXTINICONBACK;
			}
		}
		.pkg-style-iconback.pkg-style-iconback_checked,
		.pkg-style-iconback.pkg-style-iconback_checked.pkg-style-icon {
			&:before,
			&:after {
				background: $STYLE_RIGID_ICONBACK_CHECKED;
				color: $STYLE_RIGID_ICON_TEXTINICONBACK_CHECKED;
			}
		}
	}
	&.pkg-style_waterside {
		.pkg-style-item {
			background: $STYLE_WATERSIDE_MAIN_BACK;
			color: $STYLE_WATERSIDE_MAIN_TEXT;
			box-shadow: 0 0 13px 0 $STYLE_WATERSIDE_MAIN_BACKSHADOW02 inset, 0 0 8px 1px $STYLE_WATERSIDE_MAIN_BACKSHADOW01 inset;
		}
		.pkg-style-item.pkg-style-item_checked {
			background: $STYLE_WATERSIDE_MAIN_BACK_CHECKED;
			color: $STYLE_WATERSIDE_MAIN_TEXT_CHECKED;
		}
		.pkg-style-border {
			border: 1px solid $STYLE_WATERSIDE_BORDER;
		}
		.pkg-style-list {
			&:before,
			&:after {
				color: $STYLE_WATERSIDE_LIST_TEXT;
			}
		}
		.pkg-style-icon {
			&:before,
			&:after {
				color: $STYLE_WATERSIDE_ICON_TEXT;
			}
		}
		.pkg-style-icon.pkg-style-icon_checked {
			&:before,
			&:after {
				color: $STYLE_WATERSIDE_ICON_TEXT_CHECKED;
			}
		}
		.pkg-style-iconback {
			&:before,
			&:after {
				background: $STYLE_WATERSIDE_ICONBACK;
				box-shadow: 0 0 5px 0 $STYLE_WATERSIDE_ICONBACKSHADOW;
			}
		}
	}
}