body * {
	box-sizing: border-box;
}

.pkg-tmp {
	position: relative;
	.pkg-tmp-preview {
		position: relative;
		padding: 0 10px;
		float: right;
		width: 60%;
	}
	.pkg-tmp-control {
		position: fixed;
		padding-right: 10px;
		width: 40%;
	    height: 100%;
	    overflow-y: auto;
	    left: 0;
	    top: 0;
	}
	.pkg-tmp-block {
		margin: 10px 0;
		padding: 5px;
		border: 1px dotted #f99;
		&.pkg-tmp-block_header {
			background-color: #FFFCFB;
		}
	}
	.pkg-tmp-subblock {
		margin-bottom: 10px;
	}
	.pkg-tmp-outlink {
		padding: 5px;
		text-align: right;
		a {
			color: #369;
			&:hover {
				color: #69C;
			}
		}
	}
	&:after{
		display: block;
		content: '';
		clear: both;
	}
}

.pkg-table {
	margin-bottom: 1em;
	width: 100%;
	.pkg-table-name {
		margin-bottom: 0.5em;
		font-size: 14px;
		.pkg-table-name-note {
			font-size: 9px;
			opacity: 0.8;
		}
	}
	.pkg-table-result {
		color: #E64731;
		font-size: 12px;
	}
	tr {
		&:nth-child(odd){
			background-color: #eee;
		}
		&:nth-child(even){
			background-color: #ddd;
		}
	}
	th,
	td {
		padding: 10px;
	}
	th {
		text-align: left;
	}
}

.ui-oneline {
	display: block;
	white-space: nowrap;
}

.ui-bigtitle {
	font-size: 15px;
	margin: 10px 0;
	padding: 5px;
	text-align: center;
	background-color: #60E8CF;
}

.ui-title {
	font-size: 1rem;
	margin-top: 0;
	margin-bottom: 0.5em;
	text-align: center;
	span {
		display: inline-block;
		padding: 0 15px 5px;
		border-bottom: 1px solid #E64731;
	}
}

.ui-seperate {
	display: block;
	margin: 10px auto 15px;
	width: 75%;
	height: 1px;
	overflow: hidden;
	background-color: #E64731;
	opacity: 0.2;
}

.ui-description {
	line-height: 135%;
}

.ui-note {
	margin-left: 1em;
	padding: 0.2em 0.5em;
	background-color: #e9e9e9;
	color: #CE9689;
	font-size: 9px;
	border-radius: 2px;
	vertical-align: middle;
}